body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('jpg/oboi.jpg') no-repeat center center fixed; 
    /* background:#171a21;  */
  }
  *{
    padding: 0;
    margin: 0;
  }
  @media (min-width: 3000px) {
    body {
      background: url('jpg/oboi.jpg') repeat;
    }
  }

  .categories-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /* Три столбца с одинаковой шириной */
    gap: 5px; /* Расстояние между категориями */
    justify-content: left; /* Центрируем содержимое по горизонтали */
    text-align: left; /* Выравниваем текст по центру */
  }

  .categories-container input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .categories-container input[type="checkbox"]:before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease;
  }
  
  .categories-container input[type="checkbox"]:checked {
    background-color:rgb(68, 217, 236)
  }
  
  .categories-container input[type="checkbox"]:checked:before {
    transform: translateX(20px);
  }

  .custom-option {
    display: flex; 
    margin-right: 10px; 
    border: 1px solid #000;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.custom-option span {
  flex-grow: 1; 
}

select[multiple] {
  height: 150px; 
}

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.5); 
    color: white;
    text-align: left;
    padding: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
    
  }
  nav a {
    text-decoration: none;
    color: white;
  }
 
  
  nav .left a,
  nav .center a,
  nav .right a {
    font-size: 16px;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
    color: white; 
    margin: 0 10px; 
  }
  
  nav .left a:hover,
  nav h1 a:hover,
  nav .center a:hover {
    color: rgb(68, 217, 236);
  }

  nav .right a:hover {
    color: rgb(214, 60, 49);
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }

  section {
    font-family: 'Arial', sans-serif;
    /* background:linear-gradient(to right, #1b3e91, #0f1114); */
    margin-top: 160px;
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
} */

label {
  text-align: center;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  font-size: 1.5em;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
  background: url('jpg/02.png') no-repeat  center bottom ; 
  background-size: contain; 
    opacity: 0.7;
    resize: vertical;
    font-family: Arial, sans-serif; 
  font-size: 16px; 
}

#add-category {
    display: block;
    margin-top: 10px;
    color: #1DA1F2;
    cursor: pointer;
}

#add-category:hover {
    text-decoration: underline;
}

input[type="submit"] {
    background-color: #1DA1F2;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0D8CBF;
}